RewriteEngine On

# Không rewrite file & folder thật
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Router MVC
RewriteRule ^(.+)$ index.php [L,QSA]

php_value display_errors On
php_value date.timezone Asia/Ho_Chi_Minh
